QPushButton::menu-indicator
{
image: "";
}

QCheckBox#MuteButton::indicator:checked {
    image: url(:/Darktheme/res/darktheme/audio-off.svg);
}

QCheckBox#MuteButton::indicator:unchecked {
    image: url(:/Darktheme/res/darktheme/audio-on.svg);
}
